html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

@font-face {
    font-family: 'SignPainter-HouseScript';
    src: url('./assets/fonts/SignPainter-HouseScript.otf') format('opentype');
}
